
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read access to settings, but not write access.
    match /settings/{setting} {
      allow read: if true;
      allow write: if false;
    }

    // Allow public write access to form submissions, but not read access.
    match /formSubmissions/{submission} {
      allow read: if false;
      allow create: if true;
    }
  }
}
