@import "tailwindcss";

@theme {
  /* Mengecilkan skala jarak antar elemen sebesar 20% */
  --spacing-scale: 0.8;
}

html {
  /* Mengecilkan basis ukuran semua elemen yang menggunakan rem */
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}