@import "tailwindcss";

@theme {
  /* Mengecilkan skala jarak antar elemen sebesar 50% */
  --spacing-scale: 0.5;
}

html {
  /* Mengecilkan basis ukuran semua elemen yang menggunakan rem */
  font-size: 8px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}