@import "tailwindcss";

@theme {
  /* Mengecilkan skala jarak antar elemen sebesar 40% */
  --spacing-scale: 0.6;
}

html {
  /* Mengecilkan basis ukuran semua elemen yang menggunakan rem */
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}