@import "tailwindcss";

@theme {
  /* Mengecilkan skala jarak antar elemen sebesar 30% */
  --spacing-scale: 0.7;
}

html {
  /* Mengecilkan basis ukuran semua elemen yang menggunakan rem */
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}